:root {
    --global-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-color: #ffffff;
    --top-bottom-backgroundColor:  #e29200;
    --bg-color: #E8751A;
}

body {
    font-family: var(--global-font-family);
    color: var(--font-color);
    background-color: var(--bg-color);
}


img{
    width: 100%;
    height: 100%;
}

.card > img {
    border-radius: 5px;
    box-shadow: 0 0 4px 0px #000000;
}

header {
    height: min(58px, 4vw);
    background-color: var(--top-bottom-backgroundColor);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 2px #00000040;
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    > button {
        width: fit-content;
        height: 2vw;
        background-color: #ffb839;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: var(--font-color);
        font-size: min(1.5rem, 1.3vw);
        box-shadow: 0px 0px 3px 1px #00000012;
    }

    > button:active {
        box-shadow: 0 0 0px 3px #d38900;
    }
}

button:hover { filter: brightness(98%); }

button:active { filter: brightness(96%); }

.top {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 60vh;
    > .top-card-pic {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: brightness(60%);
    }
    > h3 {
        position: absolute;
        color: white;
        font-size: 2vw;
        font-weight: 200;
        font-style: italic;
        z-index: 1;
    }
}

.phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    padding: 0 20%;
    color: black;
    font-size: 1.6vw;
    font-style: italic;
    line-height: 30px;
    > p {
        padding: 8%;
        outline: 4px dashed #f3b380;
        background: #f9882e;
    }
}

.menu {
    background-color: #E5C287;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0fr repeat(2, 1fr);
    grid-template-areas: "text      text"
                         "pic       pic"
                         "pic       pic";
    gap: 10px 55px;
    padding: 40px 20%;
    > p {
        grid-area: text;
        color: var(--top-bottom-backgroundColor);
        text-transform: uppercase;
        font-size: 1.9vw;
        font-weight: bold;
        align-self: end;
        margin: 0;
    }

    >.card {
        width: 100%;
        height: 100%;
    }
}

.footer {
    height: 5vw;
    display: grid;
    place-content: center;
    background-color: var(--top-bottom-backgroundColor);
    color: var(--font-color);
}