:root {
    --global-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-color: #ffffff;
    --top-bottom-backgroundColor:  #252536;
}

body {
    font-family: var(--global-font-family);
    color: var(--font-color);
}

header {
    height: min(58px, 4vw);
    background-color: var(--top-bottom-backgroundColor);
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    > button {
        width: fit-content;
        height: 2vw;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--font-color);
        font-size: min(1.5rem, 1.2vw)
    }
}

button:hover {
    filter: brightness(95%);
    text-decoration: underline;
}

button:active { filter: brightness(80%); }

.top {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 60vh;
    > .top-card-pic {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: brightness(60%);
    }
    > h3 {
        position: absolute;
        color: white;
        font-size: 2vw;
        font-weight: 200;
        font-style: italic;
        z-index: 1;
    }
}

.phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    padding: 0 20%;
    color: black;
    font-size: 1.6vw;
    font-style: italic;
    line-height: 30px;
}

.menu {
    height: 30vw;
    background-color: rgb(207, 207, 207);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 5fr;
    grid-template-areas: ". text text text ."
                         ". card1 card2 card3 ."
                         ;
    gap: 5px;
    padding: 0 20%;
    > p {
        grid-area: text;
        color: var(--top-bottom-backgroundColor);
        text-transform: uppercase;
        font-size: 1.9vw;
        font-weight: bold;
        align-self: end;
        margin: 0;
    }

    >.card {
        width: 100%;
        height: 50%;
        background-color: black;
        border: 1px solid red;
    }

    > .card:nth-child(2) {
        grid-area: card1;
    }

    > .card:nth-child(3) {
        grid-area: card2;
    }

    > .card:nth-child(4){
        grid-area: card3;
    }
}

.footer {
    height: 5vw;
    display: grid;
    place-content: center;
    background-color: var(--top-bottom-backgroundColor);
    color: var(--font-color);
}